//Colores
$azul-oscuro: #293B5F;
$azul-medio: #47597E;
$azul-claro: #DBE6FD;
$beige: #B2AB8C;
$blanco: #fff;

//Tipografía
$comfortaa: 'Comfortaa', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

//Tamaños
$movil: 768px;
$tablet: 1024px;
$escritorio: 1440px;